fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
pandas
torch
onnxruntime
Pillow
opencv-python==4.8.0.76
mediapipe==0.10.20
ultralytics